@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');



body {
    font-family: 'arial-light';

    background-color: blanchedalmond margin: 0;
    padding: 0;
    border: none;
    color: black
}

#style-header {

    height: 180px;
    position: relative;
    
  
    
}

#style-header #menu {
    
height: 8%;
    
    

}

#icons {


    width: 350px;
    margin-right: -30px;

}


#logo-aaki {
    background: url(/assets/images/Aaki\ Logo.png) no-repeat center center;
    height: 150px;
    margin-left: 10px;
    width: 25%;
    float: left;
    margin-top: 15px;

}

#menu {
    
    padding: 100px;
    
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

}

li {

    margin-left: 2px;
    width: 80%;
    margin-right: 2px;
    position: relative;
    display: inline;
}


#menu li span {

    margin-left: 3px;

    clear: both;
    text-align: center;
    font-size: 16px;


}




ul li {
    float: left;
    width: 200px;
    height: 40px;
    display: inline;
    text-align: center;
    font-size: 20px;
    position: relative;
    

}


ul li ul li {

    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    height: 20px;
    display: none;
    overflow: hidden;
    

}

ul li:hover ul li {
    display: block;
    background-color: rgba(255, 250, 250, 0.5);

}



#menu a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;



}

#contact {
    font-size: 12px;
}



#menu a:hover {
    color: #fafafa;
    background-color: #5bc2e7;


}

.active {
    border-bottom: 1px solid rgb(39, 36, 36);
}




/* Main image section (other option <img src="/assets/images/AaÌki sky palm tree.png" style="width: 100%;">*/

#palmtrees-area {
    width: 100%;
    height: 100vh;
    margin-bottom: auto;
    clear: both;

}

#main-image {
    background: url(/assets/images/Aaki\ Entrance.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
    width: 100%;
    margin-top: -60px;
    overflow: hidden;
}

#nahualt {
    background-color: rgba(91, 194, 231, 0.3);
    width: 30%;
    color: #fafafa;
    margin-top: 500px;
    margin-left: 60%;
    text-align: center;
    font-style: italic;
}

/*---Core Section----*/

#core {
    text-align: center;
    margin: auto;
    width: 80%;
    height: 600px;
    font-size: 20px;
    overflow: hidden;
    margin-top: -10%;


}

/*----Get here, google maps section*/

#get-here iframe {
    height: 500px;
    width: 80%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    ;


}

#get-here h2 {
    margin-left: 10%;
}


/*----footer-----*/


footer {
    height: 150px;
    width: 100%;

    margin: 0;
    padding: 0;
}



#lower ul li {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    float: left;
    padding: 10px;

}

.f-icon {
    margin-left: 25px;
    font-size: 30px;

}

.f-icon a {
    color: black;
}

footer a:hover {
    background-color: #5bc2e7;
    color: #fafafa;
}


/*------Style rooms.html-----*/

#photos-1 form {

    text-align: right;
    margin-top: -45px;
    
}

#book-me input {
    background-color: white;
    margin-right: 120px;
    font-size: 17px;
    border:none;
    
   
    
}

#book-me input:hover {
    background-color: #5bc2e7;
    color: #fafafa;
}

    
}
/*----Room seaview1------*/

#photos-1 {
    
    width: 100%;
    height: 2500px;

}

#photos-1 h1 {
    text-align: left;
    margin-left: 120px;
    padding-top: 60px;
    height: auto;
  
}

#photos-1 div {

    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#photos-1  img {

    
    border-radius: 5px;

}




hr {
    width: 400px;
    text-align: left;
    margin-left: 120px; 
    
    
}

/*----Room seaview2------*/
#photos-2 img {

    width:45%;
    text-align:left;
    
}

/*Terrace Room*/

#photos-terrace {

    text-align: center;
 }

   #terrace-header {
       
       margin-left: 120px;
       margin-right: 120px;
       
   }
   
   #hr-terrace {
       margin-left: 240px;
       width: 250px;
   }
    
    /*-----Amenities section-----*/

    #photos-1 {
        margin-top: -20px;
    }

    #amenities-1 {

        height: 500px;

        position: relative;
        margin-top: 0%;
        
        

    }

   
   #am-left {
       
       width: 43%;
       padding-top: 12px;
       float: left;
       margin-left: 75px;

       border: 1px solid black;
       border-radius: 5px;
       text-align: center;
       margin-top: 100px;
       
       height: 300px;
       
       
   }

   

   #am-right {
       
    width: 43%;
    padding-top: 12px;
    float: right;
    margin-right: 75px;
    
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 100px;
    
    height: 300px;
    display: inline;
    
    
}

h3 {
    text-decoration-line: underline;
    
}

#am-right #wifi-info  h3{
    color:black;
    padding-top: 30%;
    
}

#am-left #parking h3 {

    padding-top: 30%;
}


