
      @import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');
        

body {
    font-family: 'Cormorant Infant';

    background-color: none;
    margin: 0;
    padding: 0;
    border: none;
    color:black
    


}

/*header styling*/
#style-header {
    
    height: 200px;
    text-align-last: center;
    

}

#menu a {
    text-decoration: none;
    color: black
    
}
 

#style-header li {
    display: inline;
    font-size: 23px;
    margin-left: 60px;
    line-height: 205px;
      
}


 #menu a:hover {
     color: #fafafa;
     background-color: #5bc2e7;
     border-color: #fafafa;
     border: 2px solid;
     


}
#logo-aaki {
    background: url(/assets/images/Aaki\ Logo.png) no-repeat center center;
    height: 210px;
    margin: 0;
    width: 30%;
    line-height: 75px;
    float: left;
}

span {
    font-size: 30px;
    margin-left: 8px;
    
}

#menu #contact {
    font-size: 100%;
}



/* Main image section (other option <img src="/assets/images/AaÌki sky palm tree.png" style="width: 100%;">*/

#palmtrees-area {
    width: 100%;
    height: 100vh;
    margin-bottom: auto;

}

#main-image {
    background: url(/assets/images/Aaki\ Entrance.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
    width: 100%;

    overflow: hidden;
}

#nahualt {
    background-color: rgba(91, 194, 231, 0.3);
    width:30%;
    color: #fafafa;
    margin-top: 500px;  
    margin-left: 60%;
    text-align: center;
    font-style: italic;
}

/*---Core Section----*/

#core {
    text-align: center;
    margin: auto;
    width: 80%;
    height: 600px;
    font-size: 20px;
    overflow: hidden;
    margin-top: -10%;
    
    
}

