@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');



body {
    font-family: 'arial-light';

    background-color: none;
    margin: 0;
    padding: 0;
    border: none;
    color: black
}

/*header styling*/
#style-header {

    height: 200px;
    text-align-last: center;
    margin: auto;


}

#menu a {
    text-decoration: none;
    color: black;
    
}

nav ul li { 
    position:relative;
} 



#style-header li {
    display: inline;
    font-size: 23px;
    margin-left: 60px;
    line-height: 205px;
   

}


#menu a:hover {
    color: #fafafa;
    background-color: #5bc2e7;
    border-color: gray;
    border: 2px solid;
}

.active {
    border-bottom: 1px solid rgb(39, 36, 36);
}

/*-----Rooms submenu-----*/



#logo-aaki {
    background: url(/assets/images/Aaki\ Logo.png) no-repeat center center;
    height: 200px;
    margin-left: 0;
    width: 25%;
    
    float: left;
}

span {
    font-size: 30px;
    margin-left: 8px;

}

#menu #contact {
    font-size: 100%;
}



/* Main image section (other option <img src="/assets/images/AaÌki sky palm tree.png" style="width: 100%;">*/

#palmtrees-area {
    width: 100%;
    height: 100vh;
    margin-bottom: auto;

}

#main-image {
    background: url(/assets/images/Aaki\ Entrance.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
    width: 100%;

    overflow: hidden;
}

#nahualt {
    background-color: rgba(91, 194, 231, 0.3);
    width: 30%;
    color: #fafafa;
    margin-top: 500px;
    margin-left: 60%;
    text-align: center;
    font-style: italic;
}

/*---Core Section----*/

#core {
    text-align: center;
    margin: auto;
    width: 80%;
    height: 600px;
    font-size: 20px;
    overflow: hidden;
    margin-top: -10%;


}

/*----Get here, google maps section*/

#get-here iframe {
    height: 500px;
    width: 80%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    ;


}

#get-here h2 {
    margin-left: 10%;
}


/*----footer-----*/

#lower {
    width: 100%;
    height: 150px;
    text-align: center;
    justify-content: center;

}

footer li {
    list-style-type: none;
    height:30%;
    display: inline;
    font-size: 20px;
    margin-top: -10%;
    
    
}

.f-icon a {
    font-size: 50px;
    padding-left: 16px;
    padding-right: 16px;
    color:black
    
}

footer a:hover {
    background-color: #5bc2e7;
    color:#fafafa;
}


/*------Style spaces.html-----*/

