@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');



body {
    font-family: "sans-serif";
    margin: 0;
    padding: 0;
    color: black;
    background-color: rgba(247, 243, 239, 0.5);
    
}

.mainpage-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.style-header {
    height: 190px;
    background-color: white;

}

.logo-aaki {
    background: url("./../images/Aaki\ Logo.png") no-repeat center center;
    height: 150px;
    margin-left: 10px;
    width: 25%;
    float: left;
    margin-top: 15px;
}

.menu {
    padding: 120px;
    margin-bottom: 20%;

}

.menu ul {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 999999;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu li span {
    text-align: center;
    font-size: 16px;

}

ul li,
#contact {
    width: 200px;
    text-align: center;
    font-size: 20px;
    
}

.dropdown {
    flex-direction: column;
    transition-delay: 0.5s;
}

ul li ul li {
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
    height: 24px;
    display: none;
}

ul li:hover ul li {
    display: block;
    background-color: rgba(255, 250, 250, 0.5);
}

.menu a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.menu a:hover,
.menu i:hover {
    color: #696565;
    background-color: #cfe3eb;
    font-size: 18px;
    transition: all 0.5s linear;
}

.active {
    border-bottom: 1px solid rgb(39, 36, 36);
}

/* Main image section*/
.main-image {
    background: url("../images/Aaki\ Entrance.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 600px;
    margin-top: 0px;
    /*animation for main*/
    animation-name: main-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes main-zoom {
    from {
        transform: scale(0.98);
    }

    to {
        transform: scale(1.);
    }
}

.nahualt {
    background-color: rgba(91, 194, 231, 0.3);
    width: 30%;
    color: #fafafa;
    margin-top: 500px;
    margin-left: 60%;
    text-align: center;
    font-style: italic;
}

/*---Feel Good----*/

.core {
    text-align: center;
    margin: auto;
    width: 80%;
    height: 500px;
    font-size: 20px;
    margin-top: 180px;
    margin-bottom: -5%;
}

.ethos {
    font-size: 18px;
    font-style: italic;
}

/*----Video----*/

video {
    width: 80%;
    height: 600px;
    margin: 10%;
    margin-top: 5%;
}

/*----Get here, google maps section----*/

.get-here iframe {
    height: 500px;
    width: 80%;
    margin: auto;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}

.get-here h3 {
    display: flex;
    justify-content: center;
}


/*----footer-----*/

.lower {
    height: 150px;
    width: 100%;
    background-image: url("../images/Aaki\ Collage\ 2.png");
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-icons {
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer a:hover,
footer i:hover {
    background-color: #cfe3eb;
    color: #fafafa;
    font-size: 22px;
    transition: all 0.5s linear;
}

footer ul li {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    float: left;
    margin-top: -5%;
}

.f-icon {
    width: 60px;
    text-align: center;
    font-size: 20px;
}

#contact {
    width: 200px;
    text-align: center;
}

.f-icon i,
#contact {

    color: black;
    font-size: 20px;
    text-decoration: none;
}

#contact>a {
    text-decoration: none;
    color: black;
}

/*------Style rooms.html-----*/

.photos-1 form {
    width: 100px;
    text-align: left;
    margin-top: -40px;
    margin-left: 80px;
}

.book-me input {
    font-size: 15px;
    border: none;
    background-color: rgba(247, 243, 239, 0.5);
}

.book-me input:hover {
    background-color: #cfe3eb;
    color: #696565;
    transition: all 0.5s linear;
    font-weight: bold;
}

/*----Room seaview1------*/

.photos-1 {
    width: 100%;
    margin-top: 2%;
}

.photos-1 div img {
    border-radius: 5px;
}

.photos-1 div {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 10px;
}

.photos-1 h3 {
    margin-left: 230px;
    text-decoration: underline;
    visibility: hidden;
}

/*----Room seaview2------*/

.photos-2 img {
    width: 45%;
    text-align: left;
}

/*Terrace Room*/

.photos-styling {
    text-align: center;
}

.photos-1 .style-button {
    margin-bottom: -9px;
    margin-left: 207px;
}

/*-----Amenities section-----*/

.amenities-1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 600px;
    margin-bottom: 10%;
    margin-top: 10%;
    background-image: url("./../images/Aaki\ Front.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: seashell;
}


.list-left {
    display: flex;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.list-left li {
    margin-top: 10px;
}

.list-left h3 {
    margin: auto;
    text-align: center;
    margin-top: 40px;
    text-decoration-line: underline;
}

.list-right {
    display: flex;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.list-right li {
    margin-top: 10px;
}

.list-right h3 {
    margin: auto;
    text-align: center;
    margin-top: 40px;
    text-decoration-line: underline;
}

/*---------Bar & Restaurant--------*/


.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.food-img {
    padding: 12px 12px;
}

.food-bev {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 0;
    overflow: auto;
    height: 750px;
    margin-top: 30px;
    margin-bottom: 0;
}

.food-bev h3,
.food-bev p {
    font-size: 20px;
}

.food-bev div {
    text-align: center;
    margin-top: 60px;
    padding-top: 7px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
}

.food-bev div h3 {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.img-staff {
    width: 100%;
    height: 400px;
    text-align: center;
    margin-bottom: 10%;

}

/*----MEDIA QUERIES 1050px------*/

@media screen and (max-width: 1050px) {


    ul li:hover ul li {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        background-color: rgba(255, 250, 250, 0.7);
    }

    .style-header {
        margin-bottom: 30 px;
    }

    .logo-aaki {
        margin-left: 37.5%;
        float: none;
        margin-bottom: 1.75%;
        margin-top: 2%;
    }

    .menu {
        margin-bottom: 0;
        padding-top: 70px;
        padding-bottom: 0 px;
        padding-top: 60 px;
    }

    ul li,
    #contact {
        background-color: rgba(247, 243, 239, 0.5);
    }

    .icons {
        height: 23px;
    }

    .main-image {
        margin-top: 180px;
    }


    .get-here {
        margin-top: 80px;
    }

    .lower div {
        height: 90px;
    }

    .photos-1 h3 {
        visibility: hidden;
    }

    .photos-1 h3 {
        margin-left: 560px;
        margin-top: 140px;
        font-size: 20px;
    }

    .photos-1 form {
        margin-left: 12px;

    }

    .main-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }

    .photos-1 img {
        width: 100%;
    }

    .photos-1 h3 {
        visibility: hidden;
    }

    .photos-1 .style-button {
        margin-left: 2px;
    }

    .img-area {
        margin-top: 200px;
    }

    /*----MEDIA QUERIES 850px------*/

    @media screen and (max-width: 850px) {
        .nahualt {
            font-size: 20px;
        }

        .img-staff {
            width:90%;
            margin:0 auto;
        }

        /*MEDIA 550*/

        @media screen and (max-width: 550px) {

            .logo-aaki {
                background-image: url("../images/Aaki\ Logo\ 2\ last.png");
            }

            .menu a {
                font-size: 18px;
            }

            .dropdown a {
                font-size: 13px;
            }

            video {
                margin-top: 250px;
            }

            .f-icon {
                width: 50px;
            }

            .book-me {
                margin-left: 5%;
            }

            .book-me input {
                font-size: 11px;
            }


            .nahualt {
                margin-left: 40%;
                margin-top: 90%;
            }

            .amenities-1 {
                width: 90%;
                margin-left: 5%;
                flex-direction: column;
                height: 1100px;
            }

            .list-left {
                margin: 0;
                margin-top: 40px;
            }

            .photos-1 div img {
                width: 90%;
            }

            .photos-1 form {
                margin-left: 18px;
            }

            .photos-1 .style-button {
                margin-left: 25px;
            }
        }