@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');



body {
    font-family: 'arial-light';
    margin: 0;
    padding: 0;
    color: black;
    background-color: rgba(247, 243, 239, 0.5);


}


.style-header {
    height: 190px;
    background-color: white;

}

.logo-aaki {
    background: url("./../images/Aaki\ Logo.png") no-repeat center center;
    height: 150px;
    margin-left: 10px;
    width: 25%;
    float: left;
    margin-top: 15px;
}

.menu {
    padding: 120px;

    margin-bottom: 20%;

}

.menu ul {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 999999;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.menu li span {
    text-align: center;
    font-size: 16px;
}

ul li {
    width: 200px;
    text-align: center;
    font-size: 20px;
}

.dropdown {
    flex-direction: column;
    transition-delay: 0.5s;


}

ul li ul li {
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
    height: 24px;
    display: none;
}

ul li:hover ul li {
    display: block;
    background-color: rgba(255, 250, 250, 0.5);
}

.menu a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.contact {
    font-size: 8px;
    border: 0.5px solid black;
}

.menu a:hover,
.menu i:hover {
    color: #696565;
    background-color: #cfe3eb;
    font-size: 18px;
    transition: all 0.5s linear;
}

.active {
    border-bottom: 1px solid rgb(39, 36, 36);
}

/* Main image section (other option <img src="/assets/images/AaÌki sky palm tree.png" style="width: 100%;">*/
.main-image {
    background: url("../images/Aaki\ Entrance.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 600px;

}

@keyframes entrance-zoom {

}

.nahualt {
    background-color: rgba(91, 194, 231, 0.3);
    width: 30%;
    color: #fafafa;
    margin-top: 500px;
    margin-left: 60%;
    text-align: center;
    font-style: italic;
}

/*---Feel Good----*/

.core {
    text-align: center;
    margin: auto;
    width: 80%;
    height: 600px;
    font-size: 20px;
    margin-top: 15%;
    margin-bottom: -5%;

}

.ethos {
    font-size: 18px;
    font-style: italic;
}



/*----Get here, google maps section----*/

.get-here iframe {
    height: 500px;
    width: 80%;
    margin: auto;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;

}

.get-here h3 {
    display: flex;
    justify-content: center;

}


/*----footer-----*/


footer {
    height: 150px;
    width: 100%;
    background-image: url("../images/Aaki\ Collage\ 2.png");
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
}


.lower i:hover {
    background-color: #cfe3eb;
    color: #fafafa;
    font-size: 35px;
    transition: all 0.5s linear;
}

.lower ul li {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    float: left;
    margin-top: -5%;
}

.f-icon {
    margin-left: 25px;
    font-size: 20px;

}

.f-icon i {
    color: black;
    font-size: 25px;
}




/*------Style rooms.html-----*/

.photos-1 form {
    text-align: right;
    margin-top: -40px;
}

.book-me input {
    margin-right: 230px;
    font-size: 17px;
    border: none;
    background-color: rgba(247, 243, 239, 0.5);
}

.book-me input:hover {
    background-color: #cfe3eb;
    color: #696565;
    transition: all 0.5s linear;
    font-weight: bold;
}




/*----Room seaview1------*/

.photos-1 {
    width: 100%;
    margin-top: 2%;
}

.photos-1 div img {
    border-radius: 5px;
}

.photos-1 div {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 10px;
}

.photos-1 h3 {
    margin-left: 230px;
    text-decoration:underline;
}



/*----Room seaview2------*/
.photos-2 img {
    width: 45%;
    text-align: left;
}

/*Terrace Room*/

.photos-styling {
    text-align: center;
}

.terrace-header {
    margin-bottom: 1000px;
    width: 100%;
}

.terrace-header h3 {
    text-align: left;
    text-decoration: underline;
    width: 20%;
    margin-left: 230px;
}

/*-----Amenities section-----*/

.amenities-1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 600px;
    margin-bottom: 10%;
    margin-top: 10%;
    background-image: url("./../images/Aaki\ Front.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: seashell;
}

.am-left {
    display: flex;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.am-left li {
    margin-top: 10px;
}

.am-left h3 {
    margin: auto;
    text-align: center;
    margin-top: 40px;
    text-decoration-line: underline;
}

.am-right {
    display: flex;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.am-right li {
    margin-top: 10px;
}

.am-right h3 {
    margin: auto;
    text-align: center;
    margin-top: 40px;
    text-decoration-line: underline;
}



/*---------Bar & Restaurant--------*/

.fb-photo {
    height: 800px;
    width: 85%;
    margin: auto;
    background-image: url("./../images/Collage\ food\ dishes\ Aaki.png");
    background-repeat: no-repeat;
    background-position: center;



    /* clear: both;
    line-height: 0%;
    column-gap: 0px;
    column-count: 6;
    width: 100%;
    display: block;
    float: left;
    margin: auto;
    height: 800px;
    background-size: cover;*/


}

.food-bev {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 15%;
    overflow: auto;
    height: 800px;
    margin-top: 10px;
}

.food-bev h3,
.food-bev p {

    font-size: 20px;
}

.food-bev div {
    text-align: center;
    margin-top: 60px;
    padding-top: 7px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
}

.food-bev div h3 {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;

}






/*----MEDIA QUERIES------*/

@media screen and (max-width: 900px) {


    /*----Home Page---*/
    .style-header {
        margin-bottom: 3%;
    }

    .logo-aaki {
        margin-left: 40%;
        float: none;
        margin-bottom: 0.5%;
        margin-top: 2%;
    }

    .menu {
        margin-top: -6%;
    }

    .list {
        height: fit-content;
        margin-bottom: -7%;
    }

    .icons {
        height: 23px;
    }

    .main-image {
        margin-top: 18%;
    }

    .get-here {
        margin-top: 80px;
    }

    .lower div {
        height: 90px;
    }

    footer {

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


    }

    /*---Rooms Section----*/

    .photos-1 {
        width:60%;
    }

    .photos-1 h3 {
        color: turquoise;
        margin-left: 20px;
        margin-top: 140px;
        font-size: 20px;
    }

    


}