@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');



body {
    font-family: 'arial-light';
    margin: 0;
    padding: 0;
    color: black
}


.style-header {

    height: 140px;


}

.logo-aaki {
    background: url("/assets/images/Aaki\ Logo.png") no-repeat center center;
    height: 150px;
    margin-left: 10px;
    width: 25%;
    float: left;
    margin-top: 15px;
}

.menu {
    padding: 100px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.menu li span {
    text-align: center;
    font-size: 16px;
}

ul li {
    width: 200px;
    text-align: center;
    font-size: 20px;
}

.dropdown {
    flex-direction: column;


}

ul li ul li {
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
    height: 20px;
    display: none;
}

ul li:hover ul li {
    display: block;
    background-color: rgba(255, 250, 250, 0.5);
}



.menu a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.contact {
    font-size: 8px;
    border: 0.5px solid black;
}



.menu a:hover {
    color: #fafafa;
    background-color: #5bc2e7;
    font-size: 18px;
}

.active {
    border-bottom: 1px solid rgb(39, 36, 36);
}




/* Main image section (other option <img src="/assets/images/AaÌki sky palm tree.png" style="width: 100%;">*/


.main-image {
    background: url("../images/Aaki\ Entrance.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 600px;
    margin-top: 10%;
}

.nahualt {
    background-color: rgba(91, 194, 231, 0.3);
    width: 30%;
    color: #fafafa;
    margin-top: 500px;
    margin-left: 60%;
    text-align: center;
    font-style: italic;
}

/*---Feel Good----*/

.core {
    text-align: center;
    margin: auto;
    width: 80%;
    height: 600px;
    font-size: 20px;
    margin-top: 15%;
    margin-bottom: -5%;
    
}


/*----Get here, google maps section*/

.get-here iframe {
    height: 500px;
    width: 80%;
    margin: auto;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}

.get-here h2 {
    display: flex;
    justify-content: center;

}


/*----footer-----*/


footer {
    height: 150px;
    width: 100%;
    background-image: url(/assets/images/Aaki\ Collage\ 2.png);
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
}


.lower a:hover {
    background-color: #5bc2e7;
    color: #fafafa;
    font-size: 35px;
}

.lower ul li {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    float: left;
    margin-top: -5%;
}

.f-icon {
    margin-left: 25px;
    font-size: 20px;

}

.f-icon a {
    color: black;
    font-size: 25px;
}




/*------Style rooms.html-----*/

.photos-1 form {

    text-align: right;
    margin-top: -45px;

}

.book-me input {
    background-color: white;
    margin-right: 120px;
    font-size: 17px;
    border: none;



}

.book-me input:hover {
    background-color: #5bc2e7;
    color: #fafafa;
}




/*----Room seaview1------*/

.photos-1 {
    
    width: 100%;
    margin-top: 4%;
    
}

.photos-1 div img {
    border-radius: 5px;
    
}

.photos-1 h1 {
    text-align: left;
    margin-left: 120px;
    padding-top: 60px;
    height: auto;
    
    
}

.photos-1 div {

    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

hr {
    width: 400px;
    text-align: left;
    margin-left: 120px;
}

/*----Room seaview2------*/
.photos-2 img {

    width: 45%;
    text-align: left;

}

/*Terrace Room*/

.photos-styling {

    text-align: center;
}

.terrace-header {

    margin-left: 120px;
    margin-right: 120px;

}

.hr-terrace {
    margin-left: 240px;
    width: 250px;
}

/*-----Amenities section-----*/



.amenities-1 {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 600px;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 10%;

}


.am-left {
    width: 35%;
    padding-top: 12px;
    border: 1px solid black;
    border-radius: 5px;

    margin-top: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.am-left div {
    margin: auto;
}

.am-right {

    width: 35%;
    padding-top: 12px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.am-right div {
    margin: auto;
}

h3 {
    text-decoration-line: underline;
    text-align: center;
}

/*---------Bar & Restaurant--------*/

.fb-photo {
    line-height: 0%;
    column-gap: 0px;
    column-count: 6;
    width: 100%;
    
    margin-top: 12%;
    
}




.food-bev {
    width: 80%;
    margin-bottom: 15%;
    margin-left: 10%;
    margin-top: 10%;
}

.food-bev div {
    text-align: center;
    margin-top: 30px;
    padding-top: 7px;

}

.food-bev div h3 {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.ethos {
    font-size: 18px;
    font-style: italic;
}

/*----MEDIA QUERIES------*/

@media screen and (max-width: 750px) {

    .style-header {

        width: 100%;
        
}

    .logo-aaki {
        
    }

    .menu ul {
        display: flex;
        flex-wrap: wrap;
    

}

.menu #icons {
       

    }
*/
.icons span {}

.contact {

    display: none;
}


.palmtrees-area {
   
}

.main-image {
    
